/*Responsive para pantallas de celulares*/
@media only screen and (max-width: 767px) {
    .descripcion-pelicula, .titulo-pelicula, .boton {
        display: none;
    }

    /* Estilos para el contenedor del texto */
    .texto-pelicula {
        display: none;
        border: none;
    }


}

/*Responsive para pantallas de tablets*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/*Responsive para pantallas de portatil*/
@media only screen and (min-width: 1024px) and (max-width: 1439px) {

    /*Contenedor principal que contiene todas las imagenes creadas*/
    .carrusel-img-boton {
        width: 1400px;
        transform: translate(10%, 0%);
         border: #0D1717 solid 1px;
    }

    /*Estilo especifico para la imagen*/
    .contenedor-img-boton img {
        width: 100%;
        border-radius: 20px;
        border: #0D1717 solid 1px;
    }


    /*Ajusta el tamaño del poster esto incluye la imagen, titulo, descripcion y boton*/
    .imagen-texto {
        padding-right: 20px;

    }

    /*Ajuste del titulo de la imagen*/
    .imagen-texto h3 {
        position: absolute;
        color: white;
        top: 0;
        margin-left: 40px;
    }

    /*Ajuste de la descripcion del poster*/
    .imagen-texto p {
        position: absolute;
        top: 0;
        width: 300px;
        margin-top: 50px;
        color: white;
        margin-left: 40px;
    }

    /*Ajuste del  boton del poster*/
    .imagen-texto button {
        position: absolute;
        color: black;
        bottom: 0;
        width: 90px;
        margin-left: 40px;
        margin-bottom: 40px;
    }

}

/*Responsive para pantallas de escritorio*/
@media only screen and (min-width: 1440px) {

    .carrusel-img-boton {
        width: 1000px;
        transform: translate(50%, 0%);
        border: #0D1717 solid 1px;

    }

    .contenedor-img-boton img {
        width: 100%;
        border-radius: 20px;
    }


}


/**Estilo para el titulo de la sección*/
.titulo-carrusel h1 {
    font-family: "Fira Sans", sans-serif;
    padding-left: 50px;

    /*Esto para resaltar el texto recordar para usarlo en otro titulo*/
    text-shadow: 0px 0px 8px #0D1717,
    0px 0px 12px #0D1717,
    0px 0px 16px #0D1717;
    color: wheat;
}