/*Soy la hoja de estilos de la paǵina login, mucho gusto :D*/
/*Responsive para pantallas de celulares*/
@media only screen and (max-width: 767px){

}
/*Responsive para pantallas de tablets*/
@media only screen and (min-width: 768px) and (max-width: 1023px){

}
/*Responsive para pantallas de portatil*/
@media only screen and (min-width: 1024px) and (max-width: 1439px){

}
/*Responsive para pantallas de escritorio*/
@media only screen and (min-width: 1440px){


}
/*Responsive para pantallas de celulares*/
@media only screen and (max-width: 767px){

}
/*Responsive para pantallas de tablets*/
@media only screen and (min-width: 768px) and (max-width: 1023px){

}
/*Responsive para pantallas de portatil*/
@media only screen and (min-width: 1024px) and (max-width: 1439px){

}
/*Responsive para pantallas de escritorio*/
@media only screen and (min-width: 1440px){


}

/*Pruebas*/
.formulario-login, .contenedor-usuario-contraseña , .formulario-usuario ,.input-usuario{
    border: black solid;
}

/*Contenedor primario del login*/
.formulario-login {
    height: 700px;
}

/*Contenedor secundario del login*/
.contenedor-form {
    border: black solid 1px;
    width: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
}

/*Contenedor botones registro y acceder*/
.formularioBotonera{
    width: 250px;
    display: flex;
    justify-content: space-between;
}