/*Soy la hoja de estilos de la paǵina login, mucho gusto :D*/

/*Contenedor de todo el componente login*/
.formulario-login {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Contiene el formulario*/
.contenedor-form {
    border: solid black 1px;
    width: 500px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: rgb(218, 205, 189);
    background: linear-gradient(90deg, rgba(218, 205, 189, 1) 0%, rgba(239, 151, 163, 1) 35%, rgba(212, 72, 111, 1) 100%);
}


/*Contenedor label e input de contraseña*/
.formulario-contraseña {
    margin-top: 20px;
}

/*Usuario titulo*/
.form-us {
    display: flex;
    justify-content: center;
}

/*Botones de formulario*/
.formulario-botonera {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

/*Contenedor del label de contraseña*/
.form-pass {
    display: flex;
    justify-content: center;
}


/*COntenedor input contraseña*/
.input-pass {
    margin-top: 10px
}

/*Contenedor input usuario*/
.input-usuario {
    margin-top: 10px;
}

/*Input contraseña*/
.input-contraseña {
    border-radius: 20px;
    height: 30px;
}

/*Input usuario*/
.input-user {
    border-radius: 20px;
    height: 30px;
}

/*Edición titulo de usuario y contraseña*/
.form-us, .form-pass span{
    color: white;
    font-family: "Fira Sans", sans-serif;
}